<div class="container mat-elevation-z4">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Lista de Form Modules</h1>
      </mat-card-title>
      <div class="header-actions">
        <button mat-raised-button color="primary" (click)="toggleFormModule('create')">
          <mat-icon>add</mat-icon> Crear
        </button>
      </div>
    </mat-card-header>

    <mat-card-content>
      <div class="mat-elevation-z1 table-container">
        <table mat-table [dataSource]="dataSource" class="full-width-table">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let formmodule"> {{formmodule.id}} </td>
          </ng-container>

          <ng-container matColumnDef="moduleName">
            <th mat-header-cell *matHeaderCellDef> Nombre Modulo </th>
            <td mat-cell *matCellDef="let formmodule"> {{formmodule.moduleName}} </td>
          </ng-container>

          <ng-container matColumnDef="formName">
            <th mat-header-cell *matHeaderCellDef> Nombre formulario </th>
            <td mat-cell *matCellDef="let formmodule"> {{formmodule.formName}} </td>
          </ng-container>

          <ng-container matColumnDef="isDeleted">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let formmodule">
              <mat-chip [color]="formmodule.isDeleted ? 'warn' : 'primary'" selected>
                {{formmodule.isDeleted ? 'Inactivo' : 'Activo'}}
              </mat-chip>
            </td>
          </ng-container>

          //Acciones

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let formmodule"> <button mat-icon-button color="primary" (click)="editFormModule(formmodule)" matTooltip="Editar">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-icon-button color="warn" (click)="deleteFormModule(formmodule.id)" matTooltip="Eliminar permanentemente">
                 <mat-icon>delete_forever</mat-icon>
              </button>

              <ng-container *ngIf="!formmodule.isDeleted; else reactivateButton">
                <button mat-icon-button color="accent" (click)="deleteFormModuleLogic(formmodule.id)" matTooltip="Desactivar">
                  <mat-icon>archive</mat-icon>
                </button>
              </ng-container>

              <ng-template #reactivateButton>
                <button mat-icon-button color="primary" (click)="reactivateFormModule(formmodule)" matTooltip="Reactivar">
                  <mat-icon>restore</mat-icon>
                </button>
              </ng-template>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="showForm" class="overlay">
  <div class="form-dialog mat-elevation-z8">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>{{ isEditing ? 'Editar FormModule' : 'Crear Nueva FormModule' }}</h2>
        </mat-card-title>
        <button mat-icon-button class="close-button" (click)="cancelFormModule()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-card-header>

      <mat-card-content>
        <form (ngSubmit)="submitFormModule()" #formElement="ngForm">

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Formulario</mat-label>
            <mat-select id="formId" name="formId" [(ngModel)]="currentFormModule.formId" required>
              <mat-option *ngFor="let form of forms" [value]="form.id">{{ form.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="formElement.controls['formId']?.invalid">El Formulario es obligatorio</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Módulo</mat-label>
            <mat-select id="moduleId" name="moduleId" [(ngModel)]="currentFormModule.moduleId" required>
              <mat-option *ngFor="let module of modules" [value]="module.id">{{ module.moduleName }}</mat-option>
            </mat-select>
            <mat-error *ngIf="formElement.controls['moduleId']?.invalid">El Módulo es obligatorio</mat-error>
          </mat-form-field>

          <mat-slide-toggle color="primary" id="isDeleted" name="isDeleted" [(ngModel)]="currentFormModule.isDeleted">
            {{ currentFormModule.isDeleted ? 'Inactivo' : 'Activo' }}
          </mat-slide-toggle>

          <div class="form-actions">
            <button mat-button type="button" (click)="cancelFormModule()">Cancelar</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="formElement.invalid">Guardar</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>