<form (ngSubmit)="onSubmit()" *ngIf="formFields && formModel">
    <div *ngFor="let field of formFields" class="form-group">
      <label [for]="field.name">{{ field.label }}</label>
  
      <input *ngIf="field.type !== 'textarea'"
             [type]="field.type"
             class="form-control"
             [id]="field.name"
             [name]="field.name"
             [(ngModel)]="formModel[field.name]"
             [required]="field.required">
      
      <textarea *ngIf="field.type === 'textarea'"
                class="form-control"
                [id]="field.name"
                [name]="field.name"
                [(ngModel)]="formModel[field.name]"
                [required]="field.required"></textarea>
    </div>
  
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
  