

<h2>Lista de Formularios</h2>
<button (click)="toggleForm('create')">Crear</button>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>URL</th> 
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let form of forms">
      <td>{{ form.name }}</td>
      <td>{{ form.description }}</td>
      <td>{{ form.url }}</td> <td>{{ form.isDeleted ? 'Sí' : 'No' }}</td> <td>
        <button (click)="editForm(form)">Editar</button>
        <button (click)="deleteForm(form.id)">Eliminar</button>
        <button (click)="deleteFormLogic(form.id)">Eliminar Lógico</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="showForm">
  <h3>{{ isEditing ? 'Editar Formulario' : 'Crear Nuevo Formulario' }}</h3>
  <form (ngSubmit)="submitForm()">
    <div>
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" [(ngModel)]="currentForm.name" required>
    </div>
    <div>
      <label for="description">Descripción:</label>
      <textarea id="description" name="description" [(ngModel)]="currentForm.description"></textarea>
    </div>
    <div>
      <label for="url">URL:</label>
      <input type="text" id="url" name="url" [(ngModel)]="currentForm.url">
    </div>
    <div>
      <label for="isDeleted">Activo:</label>
      <input type="checkbox" id="isDeleted" name="isDeleted" [(ngModel)]="currentForm.isDeleted">
    </div>
    <button type="submit">Guardar</button>
    <button type="button" (click)="cancelForm()">Cancelar</button>
  </form>
</div>  